.navbar-brand img {
    width: 175px;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;





}

.product-menu i {
    font-size: 20px;
}

.product-menu li:nth-child(1) i {
    color: #8546f6;
}

.product-menu li:nth-child(2) i {
    color: #999999;
}

.product-menu li:nth-child(3) i {
    color: #8546f6;
}

.product-menu li:nth-child(4) i {
    color: #32a852;
}

.product-menu li:nth-child(5) i {
    color: #f5a623;
}

.product-menu li:nth-child(6) i {
    color: #8546f6;
}

.product-menu li:nth-child(7) i {
    color: #00bfff;
}

.product-menu li:nth-child(8) i {
    color: #f5a623;
}

.product-menu li:nth-child(9) i {
    color: #ff4f7b;
}


.navbar-nav {
    gap: 15px;
}

.nav-link {
    color: #111 !important;
    font-size: 15px;
}

/* .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
} */

#banner .container {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 60px;

}

/* .login-btn {
    background: transparent;
    border: none;
    font-size: 15px;
    padding: 10px 18px;
}

.start-btn {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 11px 20px;
} */

.button-gray {

    background-color: rgb(228, 228, 228);
    padding: 5px 10px;
    border: 0;
    border-radius: 1px;

}

.button-gray:hover {
    background-color: rgb(228, 228, 228, 0.5);
}

.button-voilet {
    background-color: rgb(133, 74, 246);
    padding: 5px 10px;
    border: 0;
    border-radius: 1px;
    color: white;
    display: flex;

    align-items: center !important;
    justify-content: center !important;

}

.button-voilet:hover {
    background-color: rgb(111, 53, 219);
}

#banner {
    background: linear-gradient(120deg, #ad3fd8, #4269df, #4cc9f0);
    min-height: 700px;
    padding: 80px 0;
}

#banner h1 {
    color: white;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 30px;
}

#banner p {
    color: white;
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 35px;
}

.explore-btn {
    background-color: #171717;
    color: white;
    border: 0;
    border-radius: 40px;
    padding: 20px 35px;
    font-size: 17px;
    font-weight: 650;

}

.explore-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 0;
}

#banner img {
    width: 100%;
    display: block;

}

.banner-text {
    color: #ffffffcc;
    font: 20px;
}

.heading-text {
    color: #fff;
    font: 44px;
    margin: 0 0 24px;
}

.template-card img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.template-card h2 {
    font-size: 28px;
    margin-top: 22px;
    margin-bottom: 14px;
}



.templates .container {
    max-width: 1200px;
}

.templates {
    padding: 80px 0;
}

.templates .col-12 {
    margin-bottom: 65px;
}

.template-card h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 22px;
    margin-bottom: 14px;
}

.template-card p {
    font: 16px "Space Grotesk";
    font-weight: 400;
    line-height: 1.75;
    margin: 8px 0 30px;

}

.templates .col-12 p {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
}

.template-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #dddddd;
}

.template-image img {
    width: 100%;
    display: block;
    transition: 0.3s ease;
}

.template-hover-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #171717;
    color: white;
    border: none;
    border-radius: 40px;

    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;

    white-space: nowrap;

    opacity: 0;
    transition: 0.3s ease;
}

.template-image:hover img {
    opacity: 0.45;
}

.template-image:hover .template-hover-btn {
    opacity: 1;
}

.template-hover-btn:hover {
    background: linear-gradient(90deg, #ff4f7b, #a63ee8, #3478e5)
}

.ai-template-section {
    padding: 100px 0;
}

.ai-template-section .container {
    max-width: 1200px;
}

.ai-template-section .col-lg-6 img {
    width: 98%;
    display: block;
    margin-bottom: 40px;
}

.ai-template-section .col-lg-6 {
    padding-left: 40px;
}

.ai-template-section>.container>.row {
    align-items: center;
}

.ai-template-section h1 {
    font-size: 46px;
    line-height: 1.25;
    font-weight: 600;
    margin: 15px 0 45px;
}

.ai-template-section>.container>.row>.col-lg-6>p {
    color: #7545e8;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
}

.ai-template-section h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
}

.feature-item {
    margin-bottom: 28px;
}

.feature-item p {
    margin: 0;
    font-size: 18px;
    line-height: 1.55;
}

.feature-item h2 i {
    font-size: 28px;
    margin-right: 12px;
}

.feature-item:nth-of-type(1) h2 i {
    color: #8546f6;
}

.feature-item:nth-of-type(2) h2 i {
    color: #ff6447;
}

.feature-item:nth-of-type(3) h2 i {
    color: #007bff;
}

.ai-template-section button {
    background-color: #171717;
    color: white;
    border: none;
    padding: 17px 25px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}

.html-css-section {
    background-color: #19191b;
    padding: 100px 0;
}

.html-css-section h2 {
    color: white;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.html-css-section p {
    color: white;
    font-size: 19px;
    line-height: 1.55;
    margin-bottom: 25px;
}

.html-css-section img {
    width: 100%;
    display: block;
}

.html-css-section .container {
    max-width: 1200px;
    margin: auto;
}

.contact-template {

    padding: 90px 0;
    background: #fff;
}

.contact-template .container {
    max-width: 1200px
}

.contact-box {
    background: #f1f3f7;
    min-height: 270px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;


}

.contact-content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-content {
    margin-bottom: 50px;

}

.contact-content button {
    background: #1b1b1d;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 15px 28px;
    font-size: 16px;
    font-weight: 600;
}

.contact-content button:hover {
    background: linear-gradient(90deg, #ff4f7b, #a63ee8, #3478e5);
}

.contact-side {
    position: absolute;
    width: 200px;

}

.contact-side img {
    width: 100%;
    display: block;
}

.left-image {
    left: -30px;
    transform: rotate(+22deg);
    bottom: -50px;
}

.right-image {
    right: -30px;
    transform: rotate(+22deg);
    bottom: +10px;
    width: 220px;
}

.static-pages-section {
    background: linear-gradient(110deg, #536fe0, #a83fda, #f45b70);
    padding: 80px 0;
    color: white;
}

.static-pages-section h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px;
}

.static-pages-section p {
    max-width: 900px;
    margin: 0 auto 35px;
    font-size: 18px;
    line-height: 1.45;
}

.static-pages-section button {
    background: #1b1b1d;
    color: white;
    border: none;
    padding: 20px 35px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.static-pages-section button:hover {
    background: white;
    color: black;
}

.why-section {
    background: #f3f6fc;
    padding: 90px 0;
}

.why-section .container {
    max-width: 1200px;
}

.why-section h2 {
    max-width: 950px;
    margin: 0 auto 22px;
    font-size: 30px;
    line-height: 1.2;
}

.why-section>.container>p {
    max-width: 800px;
    margin: 0 auto 75px;
    font-size: 18px;
    line-height: 1.45;
}

.why-card img {
    margin-bottom: 20px;

}

.why-card {
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* css is  applied */
.container.text-center {
    text-align: center;
    max-width: 1200px;
}

.get-started-section {
    background: linear-gradient(180deg, #4d6fe0, #9d55c9, #e85a75);
    padding: 50px 0 0;
    color: white;


}

.get-started-section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 20px;
}

.get-started-section p {
    max-width: 750px;
    margin: 0 auto 35px;
    font-size: 18px;
    line-height: 1.5;
}

.get-started-section button {
    background: #1b1b1d;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 18px 35px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 900;
}

.get-started-section button:hover {
    background: white;
    color: black;
}

.get-started-image {
    margin-top: 70px;
    width: 100%;

}

.get-started-image img {
    width: 100%;
    display: block;
}

/* footer css  */
.main-footer {
    background: #181818;
    color: #fff;
    padding: 55px 0 100px;
}

.main-footer .container {
    max-width: 1280px;
    /* display: grid;
    /* grid-template-columns: repeat(6, 1fr);
    gap: 35px; */
}

.footer-column h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer-column p {
    color: #ccc;
    font-size: 15px;
    margin-bottom: 18px;
}

.services-title {
    margin-top: 35px;
}

.footer-bottom {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-bottom img {
    width: 115px;
}

.footer-bottom span {
    width: 1px;
    height: 30px;
    background: #777;
}

.footer-bottom p {
    margin: 0;
    color: #ccc;
    font-size: 15px;
}

.footer-column {
    font-size: 15px;
    color: #cccccc;
}

/* logo fixed */
.built-in-teleport {
    position: fixed;
    right: 80px;
    bottom: 30px;

    background: #252525;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    z-index: 9999;


}

/* responsivenss  */
/* @media (max-width: 991px) {

    .container {
        max-width: 100% !important;
    }

    .row {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }


} */

/* @media (max-width: 767px) {

    .main-footer .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

} */